    body {
      background: url("http://vignette4.wikia.nocookie.net/metroid/images/b/ba/Metroid.jpg/revision/latest?cb=20150702055904");
     background-size: 100px;
      color: #4dffc3;
    }
    header {
      text-align: center;
      background-size: cover;
      color: beige;
      
    }
    .nav {
      color: pink;
    }
    h1 {
      font-size: 70px;
    }
    img {
      margin: 30%;
      border: 7px white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        color: white;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
